.logout-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.375rem 1rem;
  color: #333;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  gap: 0.875rem;
  border-radius: 0.375rem;
  transition: all 0.2s ease;
}

.logout-button:hover {
  color: #fff;
  background: #745f7ef2;
}

.logout-button .icon {
  font-size: 1.2rem;
  width: 1.5rem;
  text-align: center;
}